body, html {
  height: 100%;
  width: 100%; }

.off-canvas-wrap, .inner-wrap {
  min-height: 100%; }

.off-canvas-wrap {
  height: 100%;
  overflow-y: auto; }

.page {
  height: 100%; }

.home-panel {
  margin-top: 20px; }

.right-menu {
  top: 0px;
  right: 25px;
  position: absolute;
  height: 2.8125rem;
  width: 2.8125rem; }

.panel.alert {
  color: #A94442;
  border-color: #A94442;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1.11111rem;
  padding: 1.11111rem;
  background: none repeat scroll 0% 0% #F2DEDE;
  color: #333; }

.panel.alert li {
  color: #A94442; }

.caret {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
  border-left-style: solid;
  margin-top: -4.5px;
  position: absolute;
  top: 50%;
  right: 0;
  padding-right: 5px; }

.right-menu {
  /* top: 0px; */
  right: 0px;
  position: absolute;
  /* height: 2.8125rem; */
  width: auto;
  padding-right: 25px; }

.button.login {
  padding: 0.575rem 1.05rem 0.575rem;
  font-size: 0.9875rem; }

/* Playing around with highlighting text on hover */
a.nav-link {
  color: #FEFEFE;
  text-decoration: none;
  font-weight: bold;
  line-height: inherit; }

a.nav-link:first-of-type {
  margin: -3px 15px; }

a.nav-link:hover {
  color: #C4C4C4;
  border-radius: 3px;
  line-height: inherit; }

.nav-logo {
  font-size: 1.125rem; }

.fc-toolbar {
  text-align: center;
  margin-bottom: 0em;
}

/* Edit the CSS to style the tooltip */
 .disabledButtonDiv:hover:after {
    position:relative;
    top:10px;
    left:0px;
    border:1px solid #000;
    background-color:#ffc;
    color:#000;
    padding: 3px;
    font-size: 12px;
    text-align: center;
    content: attr(faketitle);
}