body {
	background: none repeat scroll 0% 0% #FFF;
	height:100%;
    width:100%;
}
.off-canvas-wrap,.inner-wrap{
    height:100%;   
}
.page{
    height:100%;   
}

.home-panel{
	margin-top: 20px;
}

.right-menu {
    top: 0px;
    right: 25px;
    position: absolute;
    height: 2.8125rem;
    width: 2.8125rem;
}

.panel.alert {
    color: #A94442;
    border-color: #A94442;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1.11111rem;
    padding: 1.11111rem;
    background: none repeat scroll 0% 0% #F2DEDE;
    color: #333;
}

.panel.alert li{
    color: #A94442;
}